In [1]:
import re
ss = "500.0   5730  -12.7                         265     51  317.5         317.5"

In [9]:
ss.replace("       ","*")

'500.0   5730  -12.7***    265     51  317.5*  317.5'

In [6]:
ss1 = "aa    bb    cc"
ss1.replace("    ","*")

'aa*bb*cc'

In [11]:
ss11 = "129.0  14824  -76.5                                     353.0         353.0"
ss22 = ss11.replace("       ","*").split()

['129.0', '14824', '-76.5*****', '353.0*', '353.0']

In [20]:
bb = '223***'.split('*')
cc = ['NA' if x=='' else x for x in bb]

In [21]:
cc

['223', 'NA', 'NA', 'NA']

In [26]:
ss11 = "129.0  14824  -76.5                                     353.0         353.0"
ss22 = ss11.replace("       ","*").split()
ss33 = []
for i in ss22:
    if "*" in i:
        aa = i.split('*')
        cc = ['NA' if x=='' else x for x in aa]
        ss33.extend(cc)
    ss33.append(i)

somelist = [x for x in ss33 if "*" not in x]   
print(somelist)

['129.0', '14824', '-76.5', 'NA', 'NA', 'NA', 'NA', 'NA', '353.0', 'NA', '353.0']

In [24]:
ss33

['129.0',
 '14824',
 '-76.5',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 '-76.5*****',
 '353.0',
 'NA',
 '353.0*',
 '353.0']